@import url("https://fonts.googleapis.com/css?family=Mulish:400,700|Roboto+Condensed:700");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m-c-inventory-2 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1627px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.overlap-group6 {
  height: 74px;
  position: relative;
  width: 1440px;
}

.on-time {
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}

.my-auctiontion {
  height: 17px;
  left: 1122px;
  letter-spacing: 0.3px;
  line-height: 22.4px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
  width: 116px;
}

.my-listing {
  height: 17px;
  left: 1022px;
  letter-spacing: 0.3px;
  line-height: 22.4px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
  width: 84px;
}

.vector-14 {
  height: 2px;
  left: 1112px;
  position: absolute;
  top: 60px;
  width: 136px;
}

.blr {
  height: 30px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  margin-top: 39px;
  min-width: 129px;
  text-align: center;
}

.item-container {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  height: 602px;
  margin-top: 72px;
  min-width: 1120px;
  position: relative;
}

.item-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  height: 602px;
  margin-top: 32px;
  min-width: 1120px;
  position: relative;
}

.rectangle-618 {
  align-self: flex-end;
  height: 15px;
  margin-right: -1687px;
  margin-top: 705px;
  width: 56px;
}

.light-logo-left-5-li {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 6px 10px 
#0000000f;
  display: flex;
  height: 74px;
  left: 0;
  min-width: 1440px;
  padding: 0 80px;
  position: absolute;
  top: 0;
}

.frame {
  height: 26px;
  width: 133px;
}

.group-824 {
  height: 18px;
  margin-left: 546px;
  width: 18px;
}

.avatar {
  align-items: flex-end;
  background-color: var(--wild-sand);
  border-radius: 24px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 23px;
  min-width: 48px;
}

.overlap-group {
  height: 102px;
  margin-bottom: -2289.94px;
  position: relative;
  width: 67px;
}

.ellipse-13 {
  height: 48px;
  left: 15px;
  position: absolute;
  top: 8px;
  width: 48px;
}

.ngoctuvuongphi0 {
  height: 102px;
  left: 0;
  position: absolute;
  top: 0;
  width: 67px;
}

.links {
  align-items: center;
  display: flex;
  gap: 32px;
  margin-left: 507px;
  margin-top: 1px;
  position: relative;
  width: fit-content;
}

.past-auction {
  letter-spacing: 0.3px;
  line-height: 22.4px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.item {
  align-items: flex-start;
  display: flex;
  height: 602px;
  min-width: 544px;
}

.overlap-group-1 {
  height: 603px;
  margin-left: -2px;
  margin-top: -1px;
  position: relative;
  width: 546px;
}

.group-1149 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--periwinkle);
  border-radius: 10px;
  display: flex;
  gap: 151px;
  height: 602px;
  left: 2px;
  min-width: 544px;
  padding: 116px 29px;
  position: absolute;
  top: 1px;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 99px;
  width: 162px;
}

.bid-price,
.year-brand-model,
.participating-dealers,
.bid-price-1,
.year-brand-model-1,
.participating-dealers-1,
.bid-price-2,
.year-brand-model-2,
.participating-dealers-2,
.bid-price-3,
.year-brand-model-3,
.participating-dealers-3 {
  height: 23px;
  letter-spacing: 0.3px;
  line-height: 22.4px;
  white-space: nowrap;
}

.flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 99px;
  width: 168px;
}

.price {
  height: 23px;
  letter-spacing: 0.3px;
  line-height: 22.4px;
  min-width: 64px;
  text-align: right;
  white-space: nowrap;
}

.address {
  height: 23px;
  letter-spacing: 0.3px;
  line-height: 22.4px;
  min-width: 168px;
  text-align: right;
  white-space: nowrap;
}

.number {
  height: 23px;
  letter-spacing: 0.3px;
  line-height: 22.4px;
  min-width: 10px;
  text-align: right;
  white-space: nowrap;
}

.rectangle {
  background-color: var(--heat-wave);
  border-radius: 3px;
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 180px;
}

.on-time-1 {
  height: 41px;
  left: 57px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 5px;
  width: 132px;
}

.footer {
  align-items: flex-start;
  background-color: 
transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 120px;
  justify-content: center;
  margin-top: 56px;
  min-width: 1440px;
  width: auto;
}

.overlap-group1 {
  align-items: flex-start;
  background-color: var(--black-haze);
  border: 1px solid;
  border-color: var(--mystic);
  display: flex;
  height: 122px;
  margin-top: -1px;
  min-width: 1442px;
  padding: 50px 87px;
}

.overlap-group-2 {
  height: 18px;
  margin-top: 1px;
  position: relative;
  width: 345px;
}

.match-catch-inc-privacy-terms-help {
  height: 18px;
  left: 0;
  letter-spacing: 0.2px;
  line-height: 18px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.ellipse-7 {
  background-color: var(--fuscous-gray);
  border-radius: 1px;
  height: 2px;
  left: 143px;
  position: absolute;
  top: 9px;
  width: 2px;
}

.ellipse-8 {
  background-color: var(--fuscous-gray);
  border-radius: 1px;
  height: 2px;
  left: 224px;
  position: absolute;
  top: 9px;
  width: 2px;
}

.ellipse-9 {
  background-color: var(--fuscous-gray);
  border-radius: 1px;
  height: 2px;
  left: 301px;
  position: absolute;
  top: 9px;
  width: 2px;
}

.group-826 {
  align-items: center;
  display: flex;
  gap: 7px;
  margin-left: 691px;
  margin-top: 1px;
  min-width: 74px;
}

.group-824-1 {
  height: 18px;
  margin-left: -1px;
  width: 18px;
}

.language {
  height: 18px;
  letter-spacing: 0.2px;
  line-height: 18px;
  min-width: 48px;
  white-space: nowrap;
}

.social {
  align-items: center;
  display: flex;
  margin-left: 44px;
  min-width: 106px;
}

.icon-instagram {
  height: 16px;
  margin-top: 0.1px;
  width: 16px;
}

.facebook {
  height: 20px;
  margin-left: 26px;
  width: 20px;
}

.icon-twitter {
  height: 20px;
  margin-left: 24px;
  width: 20px;
}