.stepper-cf{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.cf-img img {
  /* margin: 0 auto; */
  /* display: center; */
  width: 20rem;
  height: 15rem;
  margin-left: 40%;
}
.cf-desc{
  margin-left: 38%;
}

h2{
  margin-right: 65%;
}