.myAuctionHeader {
  text-align: center;
  margin-top: 3rem;
}

.myAuctionList {
  display: flex;
  justify-content: center;
  margin-top: 2.5rm;
}

.myAuctionItem {
  width: 60rem;
  height: 11rem;
  border-style: solid;
  border-color: #aeb6d6;
  border-width: 0.1rem;
  border-radius: 0.8rem;
}

.myAuctionItemName {
  margin-top: 1.3rem;
  margin-left: 20.8rem;
}

.myAuctionItemPrice {
  margin-top: 0.5rem;
  margin-left: 21rem;
  display: flex;
}

.myAuctionItemPriceNumber {
  margin-left: 23rem;
}

.myAuctionItemSteps {
  margin-top: 1.5rem;
  margin-left: 21rem;
  display: flex;
}

.myAuctionItemStep {
  width: 110px;
  height: 42px;
  font-size: 10px;
}

.point-ready {
  width: 0.6rem;
  height: 0.6rem;
  border-style: solid;
  border-color: #ff0000;
  border-width: 1px;
  border-radius: 50%;
  background-color: #ff0000;
}

.point-not {
  width: 0.6rem;
  height: 0.6rem;
  border-style: solid;
  border-color: #7d7d7d;
  border-width: 1px;
  border-radius: 50%;
  background-color: #7d7d7d;
}

.line {
  height: 1px;
  width: 90px;
  margin-top: 5px;
  margin-right: 4px;
  background-color: #ff0000;
}

.myAuctionItemLine {
  display: flex;
}

.myAuctionItemStepTime {
  margin-top: 0.2rem;
  font-size: 10px;
  color: #ffa200;
  font-weight: bold;
}

.myAuctionTotal {
  font-family: 'Mulish';
}

.status-note{
  font-family: 'Mulish';
  font-weight: 700%;
}