.inventory{
  display:flex;
  flex-direction: row;
  height:100%;
  width:100%;
}

.inventory-sidebar{
  width:10%;
  height:100%;
}

.inventory-item{
  display:flex;
  flex-wrap: wrap;
  width:90%;
  height:100%;
}

.inventory-item-container{
  position:relative;
  width:30%;
  padding:2rem;
}

.inventory-item-image{
  width:100%;
  height:80%;
}
.inventory-status{
  position: absolute;
  top:2rem;
  right:2rem;
  background-color: black;
  color: white;
  z-index: 1;

}
.inventory-item-info{
  display:flex;
  flex-direction:row;
}

.info-content{
  margin-left:0.5%;
  margin-right:0.5%;
}
.info-milage{
  margin-left:auto;
  margin-right:0%;
}