.pastAuctionList {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.pastAuctionItem {
  width: 544px;
  height: 602px;
  border-style: solid;
  border-color: #aeb6d6;
  border-width: 1px;
  border-radius: 12px;
}

.pastAuctionTag {
  width: 478px;
  height: 90px;
  border-style: solid;
  border-color: #aeb6d6;
  border-width: 1px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-left: 33px;
  margin-top: 266px;
}

.userAvatar {
  width: 54px;
  height: 54px;
  border-style: solid;
  border-color: #aeb6d6;
  border-width: 1px;
  border-radius: 27px;
  background-color: #b1b1b1;
}

.pastAuctionDetail {
  width: 478px;
  margin-left: 33px;
}

.pastAuctionDetailLine {
  display: flex;
}

.userAvatar {
  margin-left: 20px;
}

.userInfo {
  margin-left: 14px;
}

.userName {
  font-weight: bold;
}

.userPaied {
  margin-left: 154px;
}

.userCheckIcon {
  margin-left: 30px;
}

.pastAuctionDetailLine {
  padding-top: 20px;
}

.pastAuctionDetailLineResult {
  margin-right: 0px;
  margin-left: auto;
}

.pastAuctionTotal {
  font-family: 'Mulish';
}

h2 {
  text-align: center;
  margin-top: 40px;
}

p {
  text-align: center;
  margin-top: 8px;
}

.pastAuctionHeader {
  justify-content: center;
}