.footerTotal {
  display: flex;
  height: 8rem;
  background-color: #dfdfdf;
}

.footerLeft {
  display: flex;
  margin-left: 8%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.footerCopyright {
  margin-top: 1%;
  width: 180px;
}

.footerLinks {
  display: flex;
  gap: 10%;
  margin-top: 1%;
}

.footerRight {
  display: flex;
  margin-left: auto;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom: auto;
  gap: 10%;
}

.footerLanguages {
  display: flex;
  gap: 10%;
}

.footerLanguage {
  margin-top: auto;
  margin-bottom: auto;
}

.footerIcons {
  display: flex;
  gap: 10%;
}

.points {
  width: 2px;
  height: 2px;
  border-style: solid;
  border-radius: 1px;
  margin-top: 6%;
}