.ffrom{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.if-form{
  background-color: white;
  width: 20%;
  margin-left: 40%;
  margin-right:auto;
  display:flex;
  flex-direction: column;
}

.if-form-input{
  border:0.1rem solid black;
  margin-left: -0.3rem;
}

.ff-btn{
  margin-bottom: 10rem;
}